@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");

@keyframes glow {
  0% {
    background-color: pink;
  }
  25% {
    background-color: rgba(111, 4, 173, 0.7);
  }
  50% {
    background-color: rgba(2, 2, 243, 0.7);
  }
  100% {
    background-color: rgba(0, 247, 255, 0.74);
  }
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Lobster Two", sans-serif;
  font-size: 50px;
}
.App {
  text-align: center;
  background-attachment: fixed;
  background: linear-gradient(
    200deg,
    pink,
    rgba(0, 247, 255, 0.74),
    rgb(2, 2, 243, 0.7),
    rgba(111, 4, 173, 0.7)
  );
  height: 100%;
}

h1 {
  font-size: 80px;
  text-decoration: underline;
  padding: 40px 20px 20px 20px;
  margin: 0px auto;
}

h2 {
  text-decoration: underline rgba(255, 255, 255, 0.6);
  margin-bottom: 20px;
  margin-top: 60px;
}

.container {
  margin: 30px auto 0px auto;
}

label {
  display: block;
  margin: auto;
}
input {
  display: block;
  margin: 10px auto;
  background: transparent;
  border: 5px solid lightsalmon;
}

input[type="text"]:focus {
  animation-name: glow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

button {
  padding: 2px;
  margin: 5px;
}

.toDoButton {
  border: 0px;
  margin: 0px, 5px;
  background-color: transparent;
}
li {
  line-height: 2em;
}

.add {
  margin: 20px;
  border-radius: 20px;
  background: #90ee90;
  padding: 10px;
}

.add:hover {
  transform: scale(1.1);
  box-shadow: -5px 5px darkblue;
}

.completedButton {
  margin: 20px;
  border-radius: 20px;
  background: #90ee90;
  padding: 5px;
}

.completedButton:hover {
  background: maroon;
  color: white;
}

.toDoButton:hover {
}

.missionCompleted {
  padding: 10px;
}
