* {
  margin: 0px;
  padding: 0px;
}
.App {
  text-align: center;
  background-color: #8ee4af;
  height: 100vh;
}

.container {
  margin: 30px auto;
}

label {
  display: block;
  margin: auto;
}
input {
  display: block;
  margin: auto;
}

button {
  padding: 2px;
  margin: 5px;
}
